@model IList<Api.Models.AccountBaseInfo>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="jumbotron">
    <h1>GetAccounts</h1>
</div>*@

@*<table border="1px;">
    <thead><tr><td>Account Type</td><td>Account Number</td></tr></thead>
    @foreach (var account in Model)
    {
        <tr><td>@account.AccountTypeName</td><td>@account.AccountNumber</td></tr>
    }
</table>*@



<div class="jumbotron">
    <h2>Your MIllennium Accounts</h2>
</div>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Account Type</th>
            <th scope="col">Account Number</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Count; i++)
            {
            <tr>
                @*<th scope="row">@((i + 1).ToString())</th>*@
                <td>@Model.ElementAt(i).AccountTypeName</td>
                <td>@Model.ElementAt(i).AccountNumber</td>
            </tr>
        }

    </tbody>
</table>